<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="interview-manager-container text-center p-5 border rounded shadow-sm bg-white">
    <h1>Interview Manager</h1>
    <p>Streamline your interview process with ease.</p>
    
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter Interview Code" [(ngModel)]="interviewCode">
      <button class="btn btn-dark" (click)="ingresar()">Enter</button>
    </div>
    
    <button class="btn btn-secondary btn-block mb-2" (click)="verResultados()">View Results</button>
    <button class="btn btn-secondary btn-block" (click)="nuevaEntrevista()">Create Interview</button>
  </div>
</div>
