/* Opcional: agregue sus estilos personalizados aquí */
.table-responsive {
    max-height: 500px;
    overflow-y: auto;
  }
  
  h2 {
    color: #343a40;
  }

  .container
  {
    padding-top: 6%;
  }

  .btn{
    background-color: #1A6DDE;
  }


