/* interview-template.component.css */
.container {
  max-width: 800px;
  padding-top: 5%;
}

.card-header {
  background: #007bff;
}

.btn-success{
  background-color: #00832D;
}

.card-body {
  padding: 2rem;
}

.section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.section:last-child {
  border-bottom: none;
}

button {
  min-width: 150px;
}
