<div *ngIf="interviewData">
  <h2>Entrevista con {{ interviewData.name }}</h2>
  <div *ngFor="let question of interviewData.questions.questions; let i = index" [hidden]="currentQuestionIndex !== i">
    <button (click)="stopRecording()">Detener Grabación</button>
  </div>
</div>


<div *ngIf="isUserTurn; else systemTurn">
  <p>Es tu turno para hablar. Por favor, responde la pregunta.</p>
  <button (click)="stopRecording()">Detener grabación</button>
</div>

<ng-template #systemTurn>
  <p>El sistema está hablando. Por favor, espera...</p>
</ng-template>